extends ../head.pug

block content
  .container.mt-4
    - var formAction = goal && goal.id ? `/api/goal/update/${goal.id}` : '/api/goal/create'
    - var formTitle = goal && goal.id ? 'Update goal' : 'Create Goal'
    // Determine field values
    - var uWeight = goal ? (goal.goal ? goal.weight : goal.weight) : ''
    - var uGoal = goal ? (goal.goal ? goal.goal : goal.goal) : ''
    - var uDescription = goal ? (goal.goal ? goal.description : goal.description) : ''
    h1.mb-4= formTitle

    // Display validation errors, if any
    if errors && errors.length
      .alert.alert-danger
        ul
          each err in errors
            li #{err.msg}

    form(method="post", action=formAction)
      if goal && goal.id
        input(type="hidden", name="id", value=goal.id)
      .form-group
        label(for="weight") Weight
        input.form-control(type="text", name="weight", id="weight", value=uWeight, placeholder="Enter your current weight")
      .form-group
        label(for="goal") Goal Type
        select.form-control(name="goal", id="goal", value=uGoal)
          option(value="") Select a goal type
          option(value="Cardio" selected=uGoal === 'Cardio') Cardio
          option(value="Strength" selected=uGoal === 'Strength') Strength
          option(value="Flexibility" selected=uGoal === 'Flexibility') Flexibility
          option(value="Nutrition" selected=uGoal === 'Nutrition') Nutrition
          option(value="Weight" selected=uGoal === 'Weight') Weight
      .form-group
        label(for="description") Description
        input.form-control(type="text", name="description", id="description", value=uDescription, placeholder="Enter short description of your goal (Optional)")
      button.btn.btn-primary(type="submit") Create New Goal
